<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.leo.frame">
    <!--网络权限-->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--存储-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <meta-data
            android:name="cn.leo.frame.image.glide.OkHttpAppGlideModule"
            android:value="AppGlideModule" />

        <provider
            android:name=".provider.FrameContextProvider"
            android:authorities="${applicationId}.FrameContextProvider"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="cn.leo.frame.ext.ContextInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
